* {
    text-align: center;
    font-family: monospace;
    font-size: 19px;
    color: #c5c8c6;
    background-color: #1d1f21;
    scroll-behavior: smooth;
    margin-left: 2px;
}


* ::selection {
    background-color:#515151;
}

h1 {
    font-size: 1.5em;
}

pre {
    text-align: left;
    display: inline-block;
    outline-style: dashed;
    outline-width: 2px;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
}

a:visited {
    color: #979797;
}